.form-container{
    height: 100vh;
}
.signup{
    padding: 10px;
    width: 75%;
    margin: auto;
}

#signup-sidebar{
    background-color: #007BFF;
    color: white;
    padding: 30vh 50px 50px 50px;
    text-align: center;
    height: 100vh;
}

#signup-form{
    padding: 30vh 50px 50px 50px;
    text-align: center;
    height: 100vh;
}

#sInBtn{
    width: 225px;
    border-radius: 30px;
    border-width: 3px;
    font-size: 20pt;
}

#sInBtn:hover{
    color: #007BFF;
}

.form-input{
    margin: auto;
}