.form-container{
    height: 100vh;
}

#login-form{
    padding: 30vh 50px 50px 50px;
    text-align: center;
    height: 100vh;
}

#login-sidebar{
    background-color: rgb(57, 183, 224);
    color: white;
    padding: 30vh 50px 50px 50px;
    text-align: center;
    height: 100vh;
}

#sUpBtn{
    width: 225px;
    border-radius: 30px;
    border-width: 3px;
    font-size: 20pt;
}

.recovery{
    margin-bottom: 15px;
    display: block;
}

.login{
    padding: 10px;
    margin: auto;
}

.form-input{
    margin: auto;
}

