body {
    position: relative;
  }
  ul.nav-pills {
    top: 25%;
    position: fixed;
    
  }
h1{
  text-align: center;
}
  .nav-link{
    color: #FF5A09;
  }

  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #FF5A09;
}
 
  .section{
      border-bottom: solid #393939 1.5px;
      margin: 10px 0px 10px 0px;
      padding: 10px;
  }

  .artist-block{
      height: 200px;
      padding: 5px;
  }
  .artist-block img{
      width: 150px;
      height: 150px;
  }


  .artist-list{
    margin: 0 auto;
  }

  .album-image img{
    width: 150px;
    height: 150px;
  }

  .list_group_item:hover{
    background-color: red;
  }